*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    height: 100%;
}
body{
    background-color: #0b101b;
    color: white;
}
.container{
    max-width: 990px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 2 rem;
}
.heading_text{
    text-align: center;
}
.heading{
    font-size: clamp(2.1rem, 7vw, 3rem);
    line-height: 1.2;
    background-image: linear-gradient(120deg, #1cdce8, #bb77ed);
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.desc{
    margin-top: 1rem;
    font-size: 0.8em;
    color: #c9ced5;
    max-width: 600px;
    margin: 0 auto;
}
.url_shortner_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.input_container{
    display: grid;
    grid-template-columns: 15px auto 150px;
    border: 2px solid #353c4a;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    color: white;
}
.input_container input{
    outline: none;
    border: none;
    background: transparent;
    color: white;
    width: 100%;
    padding: 10px;
}